#snackbar a {
    color: mediumslateblue;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    margin-top: 2rem;
    text-shadow: 0 0 .1rem #000;

}

#snackbar.show {
   visibility: visible;
   -webkit-animation: fadein 0.5s;
   animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
   from {
       bottom: 0;
       opacity: 0;
   }
   to {
       bottom: 30px;
       opacity: 1;
   }
}

@keyframes fadein {
   from {
       bottom: 0;
       opacity: 0;
   }
   to {
       bottom: 30px;
       opacity: 1;
   }
}
