#snackbar a {
    color: #aaf;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    outline: none;
}

#snackbar.show {
   visibility: visible;
   -webkit-animation: fadein 0.5s;
   animation: fadein 0.5s;
}

@-webkit-keyframes fadein {
   from {
       bottom: 0;
       opacity: 0;
   }
   to {
       bottom: 30px;
       opacity: 1;
   }
}

@keyframes fadein {
   from {
       bottom: 0;
       opacity: 0;
   }
   to {
       bottom: 30px;
       opacity: 1;
   }
}
